.footer {
  background-color: rgb(241 246 244);
}

.topWrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 32px auto 64px;
}

.block {
  z-index: 1;
}

.linkTitle {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 18px;
  color: #032b41;
}

.linkWrapper {
  margin-bottom: 12px;
  line-height: 1;
}

.link {
  color: #394547;
  font-size: 14px;
  cursor: not-allowed;
}

.linkWrapper:last-child {
  margin-bottom: 0;
}

.copyrightWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: #032b41;
  font-weight: 500;
}
